*.txt
.metals
.vscode

loading_raw_data/project/project
loading_raw_data/project/target
loading_raw_data/target
loading_raw_data/data

checking_data_quality/project/project
checking_data_quality/project/target
checking_data_quality/target

processing_data/project/project
processing_data/project/target
processing_data/target
processing_data/col.csv

loading_transf_data/project/project
loading_transf_data/project/target
loading_transf_data/target

transformations

